flow1
[
    {
        "id": "5c7f103f.fc41b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b52ebc07.da347",
        "type": "rpi-gpio in",
        "z": "5c7f103f.fc41b",
        "name": "Button",
        "pin": "11",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 90,
        "y": 180,
        "wires": [
            [
                "253a7e92.cfc462",
                "13788110.e7dd3f"
            ]
        ]
    },
    {
        "id": "253a7e92.cfc462",
        "type": "switch",
        "z": "5c7f103f.fc41b",
        "name": "if input is 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 180,
        "wires": [
            [
                "e866aef0.fbe21"
            ],
            [
                "79ae456a.6c38ec"
            ]
        ]
    },
    {
        "id": "e866aef0.fbe21",
        "type": "change",
        "z": "5c7f103f.fc41b",
        "name": "Change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 467,
        "y": 157,
        "wires": [
            [
                "ed2b24f9.d9e408"
            ]
        ]
    },
    {
        "id": "79ae456a.6c38ec",
        "type": "change",
        "z": "5c7f103f.fc41b",
        "name": "Change to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 467,
        "y": 197,
        "wires": [
            [
                "ed2b24f9.d9e408"
            ]
        ]
    },
    {
        "id": "ed2b24f9.d9e408",
        "type": "rpi-gpio out",
        "z": "5c7f103f.fc41b",
        "name": "LED",
        "pin": "7",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 667,
        "y": 177,
        "wires": []
    },
    {
        "id": "13788110.e7dd3f",
        "type": "debug",
        "z": "5c7f103f.fc41b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 307,
        "y": 97,
        "wires": []
    }
]
